<div>
    <h1><%= @article.title %></h1>
    <div>
    <% @article.categories.each do |category| %>
    <%= link_to category.name, category %>
    <% end %>
    </div>
    <% unless @article.user.nil? %>
    <p>Escrito por: <%=@article.user.email%></p>
    <% end %>
    <% unless @article.visits_count.nil? %>
    <p>Visitas: <%=@article.visits_count%></p>
    <% end %>
    <p><%= @article.body %></p>
</div>
<div>
    <h3>Comentarios:</h3>
    <%= render "comments/form" %>
    <ul>
        <% @article.comments.each do |comment| %>
        <li><%= comment.body %> <%= comment.user.email%>
        </li> 
        <% end %>
    </ul>
</div>
<div>
    <%= link_to "Actualizar", edit_article_path(@article), method: :update %>
</div>