<!DOCTYPE html>
<html>
  <head>
    <title>RubyBlog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-sans">
<!-- component -->
  <nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0">
      <a href="/home" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">Home</a>
    </div>
    <div>
      <a href="/one" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Diseno</a>
      <a href="/two" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Programacion</a>
      <a href="/three" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Tecnologia</a>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
