<!DOCTYPE html>
<html>
  <head>
    <title>Rails The Revenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="font-mono">
<!-- component -->
  <nav class="font-mono flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0">
      <a class="text-lg no-underline text-grey-darkest hover:text-blue-dark"><%= link_to "Blog", root_path %></a>
      <a class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Design</a>
      <a class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Development</a>
      <a class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Technology</a>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
